@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  --font: 'Noto Sans', sans-serif;
  --trans: all 0.3s linear;
}
body {
  font-family: var(--font);
  margin: 0;
  height: 100vh;
  font-size: 16px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background:
    linear-gradient(rgba(25, 82, 83, 0.5), rgba(0, 0, 0, 0.7)),
    url(./img/polar-lights.jpg) center/cover no-repeat;
  color: white;
  transition: var(--trans);
}
.moon {
  background:
    linear-gradient(rgba(38, 60, 109, 0.5), rgba(0, 0, 0, 0.7)),
    url(./img/stars.jpg) center/cover no-repeat;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
.header {
  display: grid;
  align-self: center;
  justify-self: center;
}
.date {
  display: grid;
  grid-area: 1/3;
  align-self: center;
  justify-self: center;
  opacity: 0;
  visibility: hidden;
  transition: var(--trans);
}
.current-info {
  display: grid;
  grid-area: 2/1;
  align-self: center;
  justify-self: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: var(--trans);
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
}
.condition-icon {
  display: grid;
  align-self: center;
  justify-self: center;
}
.day-info {
  display: grid;
  grid-area: 1/2;
  grid-row: span 2;
  align-self: center;
  justify-self: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: var(--trans);
}
.active {
  opacity: 1;
  visibility: visible;
}
form {
  display: grid;
  align-self: center;
  justify-self: center;
  position: relative;
  grid-area: 2/3;
  margin: 20px;
}
.curiosity {
  display: grid;
  align-self: center;
  justify-self: center;
  padding: 20px;
  grid-area: 3/1;
  grid-column: span 3;
  text-align: center;
}
.deactive {
  display: none;
}
input {
  width: 100%;
  font-size: 1.7rem;
  padding: 20px;
  font-family: var(--font);
  border-radius: 8px;
  border: 1px solid lightgray;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
  color: lightgray;
}
form button {
  background-color: inherit;
  border: 0;
  font-size: 2rem;
  cursor: pointer;
  top: 25px;
  right: 15px;
  position: absolute;
  color: lightgray;
}
.error {
  opacity: 0;
  visibility: hidden;
  transition: var(--trans);
  position: absolute;
  top: 100px;
  right: 5px;
  transition: var(--trans);
}
.error-active {
  opacity: 1;
  visibility: visible;
}
.footer {
  display: grid;
  grid-column: span 3;
  grid-template-columns: repeat(3, 1fr);
}
.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 20px;
  padding: 5px;
  border-radius: 12px;
  gap: 20px;
}
.container-header {
  display: flex;
  align-items: center;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-row {
  display: flex;
  align-items: center;
}
.img-weather {
  height: 30px;
  filter: invert(100%);
}
.current-info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.water-png {
  background-image: url(./img/water.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  filter: invert(100%);
}
.wind-png {
  background-image: url(./img/weather-windy.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  filter: invert(100%);
}

@media (max-width: 767px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    gap: 20px;
    background-image: rgba(0, 0, 0, 0.6), url(./img/polar-lights.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .moon {
    background-image: rgba(0, 0, 0, 0.6), url(./img/stars.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
}
